.Content {
  margin-top: 8%;
  text-align: center;
}
.Header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eb2a5a;
  display: flex;
  box-sizing: border-box;
}

h1 {
  color: white;
  margin: auto;
  display: inline;
}
